body {
  background-color: #04192a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: monospace;
  font-size: 30px;
  height: 90vh;
  position: relative;
}

h1 {
  margin-bottom: 0px;
}
footer {
  position: relative;
  margin-top: auto;
  margin-bottom: 0px;
  font-size: small;
  a {
    text-decoration: none;
    color: white;
  }
}
