body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #04192a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: monospace;
    font-size: 30px;
    height: 90vh;
}

.back-to-home {
    color: #5fb0ec;
    position: fixed;
    top: 1%;
    left: 2%;
    text-decoration: none;
    font-size: 2vw;
  }

h1 {
  margin-bottom: 0px;
}