body {
    background-color: #04192a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: monospace;
    font-size: 30px;
    height: 90vh;
    position: relative;
  }
  